.roman-result-container {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 4rem);
    height: calc(50vh - 4rem);
    padding: 2rem;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    background-color: #e53935;
    color: #ecf0f1;
}
  
.roman-result {
    border-radius: 2px;
    font-size: 2.625rem;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    background-color: #ef5350;
}