 .input-container {
    background-color: #2c3e50;
    display: flex;
    flex-direction: column;
    height: calc(50vh - 4rem);
    padding: 2rem;
    color: #ecf0f1;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}
  
input {
    padding: 1rem 1rem;
    border-radius: 4px;
    box-shadow: none;
    border-inline: none;
    border-image: none;
    border: none;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}
  
input:focus {
    outline: none;
    border: 1px solid #3498db !important;
}
  
button {
    cursor: pointer;
    outline: 0;
    border: none;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    margin-top: 2.5rem;
    background-color: #81d4fa;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
}